@use 'variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  background: $c-bg;
  color: $c-text-dark;
  -webkit-font-smoothing: antialiased;
}
